html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins-Light;
  font-weight: normal;
  color: #030E1A;
  background: #2B313B;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

  * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: normal;
}
@media (min-width: 1280px){
.MuiContainer-maxWidthLg {
    width: 95% !important;
}
}
.slick-slide {
  outline: none !important;
}

.slick-slide :focus{
    outline: none;
}






  .MuiMenuItem-root a {
    text-align: center;
    width: 100%;
    color: #3680d6;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 3px;
}
.MuiListItem-button:hover {
  text-decoration: none;
  background-color: transparent  !important;
}
.MuiMenuItem-root a.active {
  color: #fba530 !important;
}
.MuiMenuItem-root a.active:hover {
  color: #FF7700 !important;
}
.MuiMenuItem-root a:hover{
  color: #FF7700 !important;
}

  .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    background: #2b333d;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px;
 
}
.slick-prev:before {
content: "\f104";
font: normal normal normal 14px/1 FontAwesome;
font-size: 60px;
color: #fba530;
}

.slick-next:before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 60px;
  color: #fba530;
  
  }
  
  @media (max-width: 768px){
    .parallax-inner {
      transform: inherit !important;
  }

  }




@media (min-width: 1440px) {
  html,
body {
    width: 1280px;
    margin: 0 auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 1280px;
    box-shadow: 0 9px 0px 0px #00000069, 0 -9px 0px 0px white, 12px 0 15px -4px rgb(0 0 0 / 20%), -12px 0 15px -4px rgb(0 0 0 / 20%);
  }

}
